@{
    Layout = "_CustomerLayout";
}


<div style="height: 80vh;">
    <h1 class="fs-1 fw-bolder text-center my-5">Contattaci!!</h1>
        <div class="d-flex align-items-center">
            <div class="container contact p-4" style="background-image: url(https://c0.klipartz.com/pngpicture/111/804/gratis-png-super-mario-bros-super-mario-world-nuevo-super-mario-bros-videojuego.png) ;">
                <div class="row">

                    <div class="col col-lg-6 d-flex align-items-center flex-column mb-3">
                        <img src="https://cdn-icons-png.flaticon.com/128/1977/1977788.png" class="mx-5" />
                    </div>

                    <div class="col col-lg-6">

                        <div class="contact-form">

                            <div class="form-group my-2">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control shadow-lg rounded" id="nome" placeholder="Nome" name="nome" />
                                </div>
                            </div>

                                <div class="form-group my-2">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control shadow-lg rounded" id="cognome" placeholder="Cognome" name="cognome" />
                                </div>

                            </div>

                                <div class="form-group my-2">
                                <div class="col-sm-10">
                                    <input type="email" class="form-control shadow-lg rounded" id="email" placeholder="Email" name="email" />
                                </div>

                            </div>

                                <div class="form-group my-2">
                                <div class="col-sm-10">
                                    <textarea class="form-control shadow-lg rounded" rows="5" id="messaggio" placeholder="Messaggio"></textarea>
                                </div>

                            </div>

                            <div class="form-group">


                                <div class="col-sm-offset-2 col-sm-10 mt-3">
                                    <button type="button" class="btn btn-dark bg-warning">Invia</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
        </div>
    </div>
</div>