@{
    Layout = "_CustomerLayout";
}

@model Videogame 

<div>
    <div class="container bg-secondary-subtle shadow-lg rounded border-black my-5 p-0 w-75 text-center d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div>
            <h1 class="fs-1 fw-bolder my-2">Grazie mille per il feedback!</h1>
            <p class="fs-5 fw-normal my-2">- Lo staff del Sito &#128521;</p>
            <a href="@Url.Action("Catalogo", "Customer")" class="my-2 btn btn-primary"><span class="p-2 fw-bolder">Torna al catalogo</span></a>
        </div>
    </div>
</div>