<div class="py-6 border-bottom border-3">
	<ul class="flex gap-20 justify-center align-items-center">
		<li>
			<a class="fs-5 fw-bolder" href="@Url.Action("Catalogo", "Customer")">CATALOGO</a>
		</li>
		<li>
			<a class="fs-5 fw-bolder" href="@Url.Action("Contact", "Customer")">CONTACT US</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "Customer")">
				<img src="/logo.png" style="height: 48px;"/>
			</a>
		</li>
		<partial name="_LoginPartial" /> 
	</ul>
</div>
